pycairo~=1.23.0
# actual gdal version is determined by ubuntu (`gdal-config --version`) 
gdal>=3.2.2
# pillow and requests versions are dependent on sentry
pillow>=9.2.0
requests>=2.25.1
numpy~=1.21.6
sentry~=23.3.1
./blobdetector
